#stages {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.window {
    position: absolute;

    width: 25rem;

    padding: 0.75rem;

    background: var(--window-color);
    //background: mix($scrollbar-background, white, 95%);
    border-radius: 0.75rem;

    color: color-mix(in oklab, var(--window-color) 40%, #fff);

    &:after {
        content: "";

        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        border-radius: inherit;
        box-shadow: 0 0 10px #333;

        pointer-events: none;
    }

    > .header {
        position: relative;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        margin: -0.25rem 0 0.5rem 0;

        cursor: grab;

        &:after {
            content: "";
            position: absolute;

            left: -1rem;
            top: -1rem;

            width: 100%;
            height: 100%;

            padding: 1rem;
        }

        > .title {
            font-size: 1.25rem;
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
        }

        > .button {
            position: absolute;
            right: 0.5rem;

            width: 1rem;
            height: 1rem;

            border-radius: 1rem;

            --button-color: color-mix(in oklab, var(--window-color) 80%, #fff);
            background: var(--button-color);
            cursor: pointer;

            &:hover {
                background: color-mix(in oklab, var(--button-color) 95%, #000);
            }

            &:active {
                background: color-mix(in oklab, var(--button-color) 85%, #000);
            }
        }
    }

    > .inner-body {
        display: flex;
        flex-direction: column;

        width: 100%;
        min-height: 1rem;
        background: color-mix(in oklab, var(--window-color) 95%, #fff);

        --inner-body-border-radius: 0.5rem;
        border-radius: var(--inner-body-border-radius);

        font-family: Arial, Helvetica, sans-serif;
    }
}
