@keyframes DragShake {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

#plantDrag {
    position: absolute;
    z-index: 10;

    .crop {
        position: absolute;

        width: 3rem;

        translate: -50% -50%;

        pointer-events: none;
    }
}