@import "variables";

#screen-selector-wrapper {
    position: relative;

    margin: 0 auto;
    padding: 0 2rem 2rem;

    width: min-content;
    max-width: calc(100vw - 10rem);

    &:hover > #screen-selector {
        transform: translateY(0);
    }
}

#screen-selector {
    display: flex;
    transform: translateY(calc(0.75rem - 100%));

    transition: transform 0.2s;

    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 7px 0 #000;
    background: #248;

    padding: 0 0.75rem 1rem;

    //&::after {
    //    content: " ";
    //    position: absolute;
    //
    //    top: 0;
    //    left: 1rem;
    //
    //    width: calc(100% - 2rem);
    //    height: calc(100% - 1rem);
    //
    //    farmingBackground.scss: transparent;
    //    border-radius: 0 0 $inner-interface-radius $inner-interface-radius;
    //
    //    box-shadow: 0 0 15px 0 #222 inset;
    //
    //    pointer-events: none;
    //}

    #screen-options {

        display: flex;
        position: relative;
        top: 0.25rem;

        flex-grow: 1;
        border-radius: 0.75rem;
        box-shadow: 0 0 5px 0 #000 inset;

        background: #359;
        min-height: 3rem;

        overflow: auto hidden;

        &::-webkit-scrollbar {
            border-radius: 0 0 0.75rem 0.75rem;

            box-shadow: 0 0 10px #222 inset;
            background: #248;
            height: 1rem;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 1rem;

            box-shadow: 0 0 5px #222 inset;
            background: #359;

            &:hover {
                background: mix(#359, #248, 85%);
                cursor: pointer;
            }
        }

        &.firefox-scrollbar {
            scrollbar-color: #359 mix(#248, #000, 85%);
        }

        .option {

            display: flex;
            align-items: center;
            justify-content: center;

            transition: box-shadow 0.2s, scale 0.2s;
            margin: 0.25rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 1rem 0 #000;

            background: #359;

            cursor: pointer;

            padding: 0.25rem;
            width: 2.5rem;
            min-width: 2.5rem;
            aspect-ratio: 1;

            &:hover {
                background: mix(#359, #000, 90%);

                scale: 1.025;
            }

            &.selected {

                box-shadow: 0 0 5px 0 #000;
                background: mix(#359, #000, 80%);

                scale: 0.98;
            }

            .option-svg {
                width: 100%;
                height: 100%;

                filter: invert(10%);
                image-rendering: pixelated;
            }
        }
    }
}

