@import "bufferInterface";
@import "inventory";
@import "playground";
@import "plantDrag";

@import "baseWindow";
@import "windows/upgradeWindow";
@import "windows/farmingWindow";

html, body {
    background: $background;
    user-select: none;
}

#structure {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    background: $foreground;
}

#plantDrag {
    position: absolute;
}

.crop {
    display: flex;

    aspect-ratio: 1;

    .icon {
        width: 100%;
        aspect-ratio: 1;

        transform-origin: center center;

        pointer-events: none;
        user-select: none;

        image-rendering: pixelated;
    }
}

.preload {
    animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}