@import "screenSelector";
@import "currencyScreen";
@import "farmingScreen/farmingScreen";
@import "technologyScreen/technologyScreen";
@import "settingsScreen/settingsScreen";

html, body {
    background: red;
    user-select: none;
}

#header-elements {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

#structure {

    display: flex;
    position: relative;
    flex-direction: column;

    background: $foreground;
    width: 100%;
    height: 100%;
}

.screen {
    transition: visibility 0.5s, opacity 0.5s;
    visibility: hidden;
    opacity: 0;

    &:not(.active) {
        pointer-events: none;
    }

    &.active {
        visibility: visible;
        opacity: 1;
    }
}

.preload {
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
    animation-duration: 0s !important;
}