@import "screenSelector";

@import "mainScreen/mainScreen";
@import "technologyScreen/technologyScreen";
@import "settingsScreen/settingsScreen";

@import "baseWindow";

html, body {
    background: red;
    user-select: none;
}

.screen {
    transition: opacity 0.5s;
    opacity: 0;

    &:not(.active) {
        pointer-events: none;
    }

    &.active {
        opacity: 1;
    }
}

.preload {
    animation-duration: 0s !important;
    transition: background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}