@use "sass:color" as *;
@use "settingsWindow" as *;
@use "settings/saveSettings" as *;

#settings-screen {
    display: flex;

    position: absolute;
    top: 0;
    left: 0;

    background: #345;

    width: 100%;
    height: 100%;

    * {
        text-shadow: 0 0 10px #78c0e0;
        color: #78c0e0;
        font-family: monospace;
        font-weight: 1000;
    }
}

.settings-section {
    margin: 0.5rem;
}

.settings-container {

    display: inline-flex;
    position: relative;
    flex-flow: row wrap;
    align-items: center;

    margin: 2rem;
}

.bracket {
    position: absolute;
    border-top: 1rem solid #78c0e0;
    border-bottom: 1rem solid #78c0e0;

    border-radius: 0.5rem;

    width: 2rem;
    height: calc(100% + 1rem);

    filter: drop-shadow(0 0 10px #78c0e0);

    &.left-bracket {
        left: 1.5rem;

        transform: translateX(-100%);

        border-left: 1rem solid #78c0e0;
    }

    &.right-bracket {
        right: 1.5rem;

        transform: translateX(100%);

        border-right: 1rem solid #78c0e0;
    }
}

.settings-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;

    width: 100%;

    font-size: 2.5rem;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.25rem;
    border-radius: 0.75rem;
    box-shadow: 0 0 5px #222;

    background: #459;

    padding: 0.5rem;

    height: 3rem;

    .button {

        transition: box-shadow 0.2s, scale 0.2s;
        border: none;
        border-radius: 0.5rem;
        box-shadow: 0 0 5px #1117;

        background: #458;

        padding: 0.75rem 0.5rem;
        height: 100%;

        white-space: nowrap;
        font-size: 1rem;

        &:hover {
            //box-shadow: 0 0 5px #000;
            background: mix(#458, #fff5, 95%);
            scale: 1.02;
            cursor: pointer;
        }

        &:active {
            //box-shadow: 0 0 5px #000a inset;
            background: mix(#458, #fff5, 90%);
            scale: 0.98;
            cursor: pointer;
        }
    }

    .checkbox-wrapper {
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        box-shadow: 0 0 5px #1117;

        background: #458;

        height: 100%;

        .checkbox-text {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 0.5rem;

            font-size: 1rem;
        }

        .checkbox-thumb-wrapper {

            transition: background 0.2s;

            margin: 0.25rem;
            border-radius: 0.5rem;
            box-shadow: 0 0 5px #1117 inset;

            background: #346;

            cursor: pointer;
            height: 2rem;
            aspect-ratio: 2;

            &:has(.enabled) {
                background: #58b;
            }

            .checkbox-thumb {

                transition: margin-left 0.2s, background 0.2s;

                margin: 0.2rem;
                border-radius: 0.5rem;
                box-shadow: 0 0 5px #f88;

                background: #f88;
                height: calc(100% - 0.4rem);
                aspect-ratio: 1;

                &.enabled {
                    margin-left: 2.2rem;
                    box-shadow: 0 0 15px #8f8;

                    background: #8f8;
                }
            }
        }
    }
}